# ROS 2 build directories
/build/
install/
log/

# ROS 2 workspace files
*.pyc
*.pyo
*.pyd
__pycache__/

# Python virtual environment
.env/
venv/
env/
ENV/

  
/MY_LOG/
src/build
# ROS 2 dependencies (if using venv)
/lib/python*/dist-packages/

# VS Code settings
.vscode/

# JetBrains IDEs (e.g., PyCharm, IntelliJ)
.idea/

# Pytest
*.coveragerc
.tox/
.nox/
coverage.xml
*.cover
*.hypothesis/

# User-specific files
.DS_Store
Thumbs.db
